body {
    background-color: black;
    color: white;
    font-family: "Rubik", sans-serif;
}


.profile-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 15px;
    transition: all 0.4s ease;
}

.profile-card:hover {
    transform: scale(1.03);
}


.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.profile-img:hover {
    transform: rotate(-10deg) scale(1.1);
    box-shadow: 0 0 25px yellow;
}


.title {
    font-family: "Bitcount Single", system-ui;
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: red !important;
}

.custom-table tbody tr {
    transition: all 0.3s ease;
}

.custom-table tbody tr:hover {
    transform: scale(1.02);
    background-color: #000000 !important;
}